{% extends "layouts/admin.twig" %}

{% block title %} PRODUCTOS | EDIT {% endblock %}

{% block style %}

{% endblock %}

{% block content %} 

	<form class="m-5" action="{{ URL }}?controller=categorias&action=update" method="POST" method="POST">
	<table class="table">
	<thead>
		<tr>
		<th scope="col form-label"></th>
		<th scope="col form-label">Nombre</th>
		<th scope="col form-label"></th>

		</tr>
	</thead>
	<tbody>
		<tr>
		<td><input class="form-control" type="hidden" name="id"  value="{{ categoria.idCategorias }}"></td>
		<td><input class="form-control" type="text" id="nombre" name="nombre" value="{{ categoria.nombreCategoria }}" placeholder="nombre"></td>
		</td>
		<td><button class="btn btn-warning" type="submit">Actualizar</button></td>

		</tr>
	</tbody>
	</table>
</form>



{% endblock %}