{% extends "layouts/admin.twig" %}

{% block title %} PRODUCTOS | CREATE {% endblock %}

{% block style %}

{% endblock %}

{% block content %} 

	<form class="m-5" action="{{ URL }}?controller=productos&action=save" method="POST" method="POST" method="POST">
        <div class="row m-0 p-0 justify-content-center mb-3">
            <div class="col-6 row">
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoria</label>
					<input type="text" class="form-control" id="categoria" name="categoria"  placeholder="1,2,3...">
                    <div id="nombre" class="form-text">Escribe nombre.</div>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre">
                    <div id="apellidos" class="form-text">Escribe apellidos.</div>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" aria-describedby="descripcion">
                    <div class="form-text">Escribe descripcion.</div>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="precio" class="form-control" id="precio" name="precio" aria-describedby="precio">
                    <div class="form-text">Escribe precio.</div>
                </div>
				<div class="mb-3">
                    <label for="precio" class="form-label">Stock</label>
                    <input type="stock" class="form-control" id="stock" name="stock" aria-describedby="stock">
                    <div class="form-text">Escribe stock.</div>
                </div>
				<div class="col-sm-8 mb-2">
					<input type="file" class=" form-control" id="image" name="image">
				</div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}