{% extends "layouts/private.twig" %}

{% block title %}CARRITO{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}


<h1>ERROR</h1>


	<!-- end cart -->
{% endblock %}

{% block script %}

{% endblock %}
