{% extends "layouts/private.twig" %}

{% block title %}CARRITO{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}


    <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">500</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Error interno del servidor.</p>
                <p class="lead">
                    El servidor tiene un error interno.
                  </p>
                <a href="{{ URL }}?controller=auth&action=welcome" class="btn btn-warning">Go Home</a>
            </div>
        </div>



	<!-- end cart -->
{% endblock %}

{% block script %}

{% endblock %}
