<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <h1>Estamos en el index</h1>
    <a class="btn btn-primary" href="http://localhost/DEWS_VS/?controller=auth&action=login">Login</a>
</body>
</html>