{% extends "layouts/public.twig" %}

{% block title %}Login{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
	<!-- check out section -->

<div class="container-fluid">
	<form class="m-5" action="{{ URL }}?controller=auth&action=doLogin" method="POST">
		<div class="mb-3">
		<label for="emailLogin" class="form-label">Email address</label>
		<input type="email" name="email" class="form-control" id="emailLogin" placeholder="Contraseña">
		<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		</div>
		<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" name="password" class="form-control" id="password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-primary" type="submit">Enviar</button>

	</form>

</div>

	<!-- end check out section -->
{% endblock %}

{% block script %}

{% endblock %}