{% extends "layouts/public.twig" %}

{% block title %}Login{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<!-- MODIFICAR -->
<form action="{{ URL.URL }}?controller=auth&action=doRegister" method="POST" class="m-3">
        <div class="row m-0 p-0 justify-content-center mb-3">
            <div class="col-6 row">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre" placeholder="Escriba su nombre">
                </div>
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" aria-describedby="apellidos" placeholder="Escriba sus apellidos">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Escriba su email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Escriba su contraseña">
                </div>
                <button type="submit" class="btn btn-warning">Enviar</button>
            </div>
        </div>
    </form>

	<!-- end check out section -->
{% endblock %}

{% block script %}

{% endblock %}